h1{
	font-size: 50px;
	width : 50%;
	border : 1px solid red;
	margin: 0 auto;
	text-align: center;
}

table{
	margin: auto;
	border-collapse: collapse;
}
tr td:nth-of-type(2){
	border-left: 1px solid black;
	border-right: 1px solid black;
}

tr:nth-of-type(2){	
	border-top: 1px black solid;
	border-bottom: 1px black solid;
}

td{
	padding: 40px;
	
}